@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  line-height: 1em;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  min-width: 1340px;
}

/* ===========================START MAIN AREA======================= */
/* ===========================NAV AND HEADER AREA========================= */
#bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 5rem;
}

.logo {
  height: fit-content;
}

#ham {
  display: none;
}

#side {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
}

.side-a {
  text-decoration: none;
  font-size: 1.3rem;
  color: hsl(273, 4%, 51%);
  font-weight: 700;
  font-family: "Karla";
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
}

.side-a:hover {
  color: hsl(256, 26%, 20%);
}

.side-btn {
  border: 2px solid hsl(256, 26%, 20%);
  padding: 0.6rem 1rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: "Karla";
  color: hsl(256, 26%, 20%);
  background-color: transparent;
  letter-spacing: 2px;
  cursor: pointer;
}

.side-btn:hover {
  background-color: hsl(256, 26%, 20%);
  color: hsl(0, 0%, 98%);
}

/* =============================START HEADER AREA================== */
.head {
  display: flex;
  flex-direction: row-reverse;
  background-color: hsl(256, 26%, 20%);
  width: 100%;
  height: 550px;
  gap: 1rem;
  position: relative;
}

.intro {
  display: flex;
  flex-direction: column;
  left: 50px;
  position: absolute;
  padding-left: 4rem;
  margin-top: 5rem;
}

.head-hr {
  width: 10%;
  margin-top: 2rem;
}

.head-h1 {
  font-size: 3rem;
  font-weight: 400;
  color: hsl(0, 0%, 98%);
  font-family: "DM Serif Display";
  width: 340px;
  margin-top: 2rem;
  line-height: 3rem;
}

.head-para {
  font-size: 1.1rem;
  font-weight: 400;
  color: hsl(0, 0%, 98%);
  font-family: "Karla";
  width: 600px;
  margin-top: 2rem;
  line-height: 1.3rem;
}

.head-btn {
  border: 2px solid hsl(0, 0%, 98%);
  padding: 0.6rem 1rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  font-family: "Karla";
  color: hsl(0, 0%, 98%);
  background-color: transparent;
  letter-spacing: 2px;
  cursor: pointer;
  margin-top: 2.5rem;
  width: 150px;
}

.head-btn:hover {
  color: hsl(270, 9%, 17%);
  background-color: hsl(0, 0%, 98%);
}

.head-img {
  position: absolute;
  padding-right: 5rem;
  margin-top: 5rem;
}

.right {
  z-index: 1;
  position: absolute;
  height: 74%;
}

.left {
  margin-top: 25rem;
  position: absolute;
  left: 0px;
  height: 70%;
}
/* ===============================START INFO DIV AREA======================= */
#info {
  margin-top: 20rem;
  padding: 0rem 5rem;
}

.info-hr {
  width: 10%;
}

.info-h2 {
  font-size: 4rem;
  font-weight: 400;
  font-family: "DM Serif Display";
  margin-top: 2rem;
  color: hsl(256, 26%, 20%);
}

.info-div {
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info-h3 {
  font-size: 2rem;
  font-weight: 400;
  font-family: "DM Serif Display";
  color: hsl(256, 26%, 20%);
  margin-top: 2rem;
}

.info-para {
  font-size: 1rem;
  font-weight: 400;
  font-family: "Karla";
  margin-top: 2rem;
  color: hsl(273, 4%, 51%);
  line-height: 1.4rem;
  width: 350px;
}

.work {
  background-color: hsl(256, 26%, 20%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 5rem;
  margin-top: 5rem;
  background-image: url(./images/bg-pattern-how-we-work-desktop.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
}

.work-h3 {
  font-size: 3rem;
  font-weight: 400;
  font-family: "DM Serif Display";
  color: hsl(0, 0%, 98%);
  width: 420px;
  line-height: 3rem;
}

.work-btn {
  border: 2px solid hsl(0, 0%, 98%);
  padding: 0.6rem 1rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  font-family: "Karla";
  color: hsl(0, 0%, 98%);
  background-color: transparent;
  letter-spacing: 2px;
  cursor: pointer;
  margin-top: 2.5rem;
}

.work-btn:hover {
  color: hsl(270, 9%, 17%);
  background-color: hsl(0, 0%, 98%);
}

/* =========================START FOOTER  DIV AREA================= */
#footer {
  padding: 3rem 5rem;
  margin-top: 2rem;
  background-color: hsl(0, 0%, 98%);
  background-image: url(./images/bg-pattern-footer-desktop.svg);
  background-repeat: no-repeat;
  background-size: calc(35%);
  background-position: left top;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.social i {
  color: hsl(216, 30%, 68%);
  cursor: pointer;
}

.social i:hover {
  color: hsl(256, 26%, 20%);
}

.footer-hr {
  margin-top: 2rem;
}

.footer-div {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  justify-content: space-between;
  width: 85%;
}

.footer-div2 {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.footer-h4 {
  color: hsl(273, 4%, 51%);
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "DM Serif Display";
}

.footer-span {
  color: hsl(270, 9%, 17%);
  font-size: 1rem;
  font-weight: 700;
  font-family: "Karla";
  margin-top: 1.3rem;
  cursor: pointer;
}

.footer-span:hover {
  text-decoration: underline;
}
/* ===========================END MAIN AREA======================= */
/* =============================START FOOTER  AREA=========================== */
.foot {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 20px;
  color: hsl(0, 100%, 67%);
  background-color: hsl(240, 10%, 16%);
}

.foot a {
  text-decoration: none;
  color: hsl(39, 100%, 56%);
}

.foot a:hover {
  color: hsl(300, 69%, 71%);
}
/* =============================END FOOTER  AREA=========================== */
/* =============================START MEDIA QUERY========================== */
@media (max-width: 768px) {
  body {
    min-width: 768px;
  }

  #bar {
    padding: 2rem;
  }

  .overlay {
    position: fixed;
    z-index: 2;
    top: 6rem;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgb(27 32 44 / 70%);
    visibility: hidden;
    opacity: 0;
    backdrop-filter: blur(6px);
    transition: 0.3s;
  }

  #ham {
    display: grid;
    padding: 1rem;
    background: transparent;
    border: 3px solid hsl(270, 9%, 17%);
  }

  #ham i:last-child {
    display: none;
  }

  body.open #ham i:first-child {
    display: none;
  }

  body.open #ham i:last-child {
    display: block;
  }

  body.open .overlay {
    visibility: visible;
    opacity: 1;
  }

  #side {
    position: fixed;
    z-index: 2;
    display: flex;
    flex-direction: column;
    top: 6rem;
    width: 100%;
    height: 100%;
    padding: 18px 20px 30px;
    background: hsl(256, 26%, 20%);
    translate: 100% 0;
    transition: 0.3s;
    background-image: url(./images/bg-pattern-mobile-nav.svg);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
  }

  body.open #side {
    translate: 0;
  }

  .side-a {
    letter-spacing: 1px;
    font-size: 1.5rem;
    color: hsl(0, 0%, 98%);
    margin-top: 2rem;
  }

  .side-btn{
    border-color: hsl(0, 0%, 98%);
    color: hsl(0, 0%, 98%);
    margin-top: 2rem;
  }

  .side-btn:hover{
    background-color: hsl(0, 0%, 98%);
    color: hsl(256, 26%, 20%);
  }

  .head {
    flex-direction: column;
    height: auto;
  }

  .head-img {
    position: relative;
    left: 0px;
    padding-right: 0;
    margin-top: 0;
    width: 100%;
  }

  #info {
    margin-top: 2rem;
    padding: 1rem;
  }

  .right {
    content: url(./images/bg-pattern-intro-right-mobile.svg);
    top: 78rem;
    position: absolute;
    right: 20px;
    height: 30%;
  }

  .left{
    content: url(./images/bg-pattern-intro-left-mobile.svg);
    bottom: 19rem ;
    height: 15%;
  }

  .head-hr{
    display: none;
  }

  .intro {
    position: relative;
    margin-bottom: 5rem;
    left: 15px;
    margin-top: 8rem;
  }

  .info-div {
    flex-direction: column;
    text-align: center;
  }

  .info-div1 {
    margin-top: 2rem;
  }

  .info-para {
    margin-left: 13rem;
  }

  .info-h2 {
    text-align: center;
  }

  .info-hr {
    align-items: center;
    justify-content: center;
  }

  .work {
    padding: 5rem 2rem;
  }

  #footer{
    background-size: calc(50%);
  }

  .footer-div {
    width: 100%;
  }
}

@media screen and (max-width:375px) {
  body{
    min-width: 375px;
    
  }

  .info-para{
    margin-left: 0rem;
  }

  .work{
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    background-image: url(./images/bg-pattern-how-we-work-mobile.svg);
  }

  .footer-nav{
    flex-direction: column;
    gap: 2rem;
    margin-top: 3rem;
  }

  .footer-div{
    flex-direction: column;
  }

  .footer-div1{
    margin-top: 4rem;
    text-align: center;
  }

  .intro{
    left: 0;
    padding: 1rem;
    text-align: center;
  }

  .head-h1{
    font-size: 2.5rem;
  }

  .head-para{
    width: 90%;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .head-img{
    content: url(./images/image-intro-mobile.jpg);
    width: 100%;
    left: 0;
    padding-right: 0;
    margin-top: 0;
  }

  .head-btn{
    margin-left: 25%;
  }

  .head-hr{
    display: none;
  }

  .work-h3{
    font-size: 2rem;
    width: 80%;
    text-align: center;
  }

  #footer{
    background-image: url(./images/bg-pattern-footer-mobile.svg);
    background-size: contain;
  }

  .left{
    bottom: 28.5rem ;
  }

  .right{
    top: 57.5rem;
  }

  .info-para{
    width: 310px;
    margin-left: 0;
  }

  .info-h2{
    font-size: 2.5rem;
  }

  .info-hr{
    width: 30%;
    margin-left: 30%;
  }
}

/* =============================END MEDIA QUERY========================== */
